body{
    background-color: lightgray;
}

.main{
    width: 830px;
    background-color: white;
    margin: 0 auto;
}

.video{
    width:400px;
    height:300px;
    margin:5px;
    border: darkgrey;
    box-shadow: 0 0 10px black;
}